body {
    font-family: 'Poppins', system-ui, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 320px;

    background-color: #fff;
}

.header {
    position: relative;

    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;

    background-color: #171850;
    color: #fff;
}

.title {
    text-align: center;
    font-size: 5.5em;
    font-weight: 700;
}

.language-selector a:link,
.language-selector a:visited {
    color: inherit;
    text-decoration: none;
}

.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3rem;
}

.language {
    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    font-size: 2rem;
    font-weight: 600;
}

.language::before {
    visibility: hidden;
    margin-right: 0.5rem;
    content: '·';
    font-size: 2.5rem;
    line-height: 0.5;
}

.language.active::before {
    visibility: visible;
}

.language:hover .language-name {
    text-decoration: underline;
}

.language-icon svg {
    width: 2rem;
    height: 2rem;
}

.upcoming-feature {
    font-style: italic;
    color: #a5a5a5;

    font-weight: 500;
}