body {
    font-family: 'Poppins', system-ui, sans-serif;
    font-size: 16px;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 320px;

    background-color: #fff;
}

.header,
.header-container {
    flex-direction: column;
    gap: 4rem;

    background-color: #171850;
    color: #fff;
}

.header {
    padding: 9rem 3rem;

    position: relative;
}

.header-container {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.title {
    text-align: center;
    font-size: 5.5em;
    font-weight: 700;

    @media (max-width: 600px) {
        font-size: 4.5em;
    }
}

.language-selector {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    z-index: 1;
}

.language-selector a:link,
.language-selector a:visited {
    color: inherit;
    text-decoration: none;
}

.language {
    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    font-size: 2rem;
    font-weight: 600;

    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
}

.language.active {
    outline: 0.1rem solid white;
}

.language:hover {
    background-color: #0a0a30;
    outline: 0.1rem solid rgb(168, 168, 168);
}

.language-icon svg {
    width: 2rem;
    height: 2rem;
}

.magnifying-glass {
    position: absolute;
    top: 50%;
    right: 4rem;
    width: 100%;
    height: 70%;
    transform: translateY(-50%);
}

.magnifying-glass-image {
    position: absolute;
    border-radius: 50%;
    right: 0;
    height: 90%;
    transform: translate(-5%, 5%);

    user-select: none;
    -webkit-user-drag: none;
    /* Chrome, Safari, Opera, Edge */
}

.magnifying-glass-svg {
    position: absolute;
    right: 0;
    height: 100%;

    transform-origin: 75% 50%;
    transform: rotate(-15deg);
}

.upcoming-feature {
    color: #a5a5a5;

    font-weight: 500;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    padding: 5rem 10rem;

    @media (max-width: 840px) {
        padding: 5rem 5rem;
    }
}

.content-box {
    padding: 2rem;
    max-width: 60rem;

    background-color: #999;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 10px 10px #000 !important;
}

.content-box:hover {
    background-color: #171850;
    color: #fff;
}

.content-box:hover h3 {
    color: #fff;
}

.content-left {
    text-align: left;

    .content-image {
        float: right;
        margin: 0 0 1.5rem 1.5rem;
    }
}

.content-right {
    text-align: right;

    .content-image {
        float: left;
        margin: 0 1.5rem 1.5rem 0;
    }
}

.content-information h3 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: #171850;
}

.content-information p {
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
}

.content-information p:last-child {
    margin-bottom: 0;
}

.content-image {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    border: 0.3rem solid #171850;

    @media (max-width: 600px) {
        display: none;
    }
}

.content-about-me:hover .content-about-me-image {
    border-color: #000;
    animation: rotate-y 1s ease-in-out 1;
}

.content-my-projects:hover .content-my-projects-image {
    border-color: #000;
    animation: rotate-y 1s ease-in-out 1;
}

@keyframes rotate-y {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(180deg);
    }
}
